@import 'reset';
@import 'menu';

$vert : rgb(179,207,67); 
$orange : rgb(252,183,49); 
$vert_fonce : rgb(100,123,34);
$marron : rgb(195,165,117);
$bleu : rgb(0,175,236); 
$beige : rgb(232,221,202); 
$gris_noir : rgb(109,111,113);

@font-face {
  font-family: 'LatoBis';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v12/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin plus {
 	height: 30px;
	width: 30px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Anton';
	
}

.bloc_top{
	height: 300px;
	margin-top: 15px;

	.img{
		background-image: url(../img/imgTop.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;	
		height: 250px;
		
	}
	.points{
		height: 50px;
		background-image: url(../img/points.svg);
		
	}

}

.bloc_centre{
	height: 400px; 
	/*background-color: $beige;*/

	.logo_centre{
		height: 50px; 
		width: 80px;
		background-image: url(../MAQUETTES/logo_ss_texte.svg);
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 40%;
		padding-top: 5%;
		
	}
	.titre_picto{
		color: $orange;
		font-weight: bold;	
		text-align: center;
		justify-content: center;
		margin-top: 3%; 
		margin-bottom: 3%;
		font-family: 'Anton';
		h2{

			font-size: 25px; 
			 
		}
	}

	.picto{
		
		margin-left: 8%;

		.partie1 {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			h2{
				font-size: 25px;
				font-family: 'LatoBis';
				font-weight: bold;
				text-align: center;
				margin-left: -20px;
			}
			.coop{
				height: 100px; 
				width: 100px;
				background-image: url(../img/picto_coop.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}
			.cooperateurs h2{
				color: $marron;
			}

			.photovoltaique h2{
				color: $vert;
			}

			.photovolt{
				height: 100px; 
				width: 100px;
				
				background-image: url(../img/picto_photovoltaique.svg);
				background-size: contain;
				background-repeat: no-repeat;
				transform: rotate(-80deg);				
			}
			
		}
		
		.partie2 {
			margin-top: 5%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			h2{
				font-family: 'LatoBis';
				font-weight: bold;
				font-size: 25px;
				text-align: center;
				margin-left: -20px;
			}

			.prod{
				height: 100px; 
				width: 100px;
				background-image: url(../img/picto_production_energie.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}

			.production h2{
				color: $orange;
			}

			.cap h2{
				color: $bleu;
			}
			.capital{
				height: 100px; 
				width: 100px;
				
				background-image: url(../img/picto_capital.svg);
				background-size: contain;
				background-repeat: no-repeat;
							
			}
		}
	}

	
	.blocTxt_1, .blocTxt_2{
		display: flex;
		flex-direction: column;
		height: 220px; 
		background-image:url(../img/points.svg);
		
		margin-top: 10%;
		.titre_bloc1, .titre_bloc2{

			h1{
				text-align: center;
				font-family: 'Lato';
				font-size: 20px;
				margin-top: 2%;
				font-weight: bold;
				color: $gris_noir;
			}
		}
		
		p{
			font-family: 'LatoBis';
			margin-top: 3%;
			margin-left: 3%;
			margin-right: 3%;
		}
	}
	.blocTxt_2{
		.plus{
			@include plus;
			margin-left: 85%;
			color: $gris_noir;
		}
	}

	.bouton1{
		margin-top: 3%;
		margin-bottom: 8%;
		height: 70px;
		border-radius: 20px;
		background-color: $gris_noir;
		p{
			font-family: 'Lato';
			padding-top: 5%;
			font-size: 20px;
			text-align: center; 
			color: white;
			font-weight: bold;
		}
		.plus{
			@include plus;
			margin-left: 45%;
			color: white;
		}
	}

	.bouton2{
		margin-top: 3%;
		margin-bottom: 8%;
		margin-left: 33%;
		height: 50px;
		width: 33%;
		border-radius: 30px;
		background-color: $orange;
		p{
			font-family: 'Lato';
			padding-top: 10%;
			font-size: 20px;

			text-align: center; 
			font-weight: bold;
		}
		
	}

	.actu{
		height: 580px; 
		background-color: $orange;
		padding-left: 3%;

		h1{
			padding-top: 25px;
			font-size: 30px;
			color: white;
			
			font-family: 'Anton';
		}
		.fleches{
			display: flex;
			flex-direction: row;
			margin-left: 80%;
			margin-top: -8%;
			margin-bottom: 3%;
			.flecheG{
				background-image: url(../svg/fleche_gauche.svg);
				background-repeat: no-repeat;
				background-size: contain;
				height: 30px;
				width: 30px; 
			}
			.flecheD{
				background-image: url(../svg/fleche_droite.svg);
				background-repeat: no-repeat;
				background-size: contain;
				height: 30px;
				width: 30px; 
			}
		}
		.imgActu{
			background-image: url(../img/actu.jpg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 250px; 
			width: 350px;
			margin-bottom: 3%;
		}

		h2{
			font-size: 25px; 
			font-weight: bold;
			font-family: 'Lato';
			color: white;
			margin-bottom: 3%;
		}
		p{
			font-family: 'LatoBis';
			color: white; 
			font-size: 18px;
		}
		
		.plus{
			
			@include plus;
			margin-top: 3%;
			margin-left: 2%;
			color: white;
		}		
	}
	

	.demarche{
		margin-top: 5%;
		height: 570px; 
		background-color: $vert;
		padding-left: 3%;

		h1{
			padding-top: 20px;
			font-size: 30px;
			color: $gris_noir;
			font-family: 'Anton';
			margin-bottom: 1%;
		}
		
		.imgDemarche{
			background-image: url(../img/demarche.jpg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 235px; 
			width: 350px;
			
		}

		h2{
			font-size: 25px; 
			font-weight: bold;
			font-family: 'Lato';
			color: $gris_noir;
			margin-bottom: 3%;
		}
		p{
			font-family: 'LatoBis';
			color: $gris_noir; 
			font-size: 18px;
		}
		
		.plus{
			@include plus;
			margin-top: 3%;
			margin-left: 2%;
			color: $gris_noir;
		}		
	}

	.installations{
		margin-top: 5%;
		height: 565px; 
		background-image: url(../img/points.svg);
		

		h1{
			padding-top: 20px;
			font-size: 30px;
			color: $gris_noir;
			font-family: 'Anton';
			margin-bottom: 1%;
			padding-left: 3%;
		}
		
		.imgInstal{
			background-image: url(../img/instal.jpg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 150px; 
			width: 350px;
			margin-left: 3%;			
		}

		h2{
			font-size: 25px; 
			font-weight: bold;
			font-family: 'Lato';
			color: $gris_noir;
			margin-bottom: 3%;
			padding-left: 3%;
		}
		p{
			font-family: 'LatoBis';
			color: $gris_noir; 
			font-size: 18px;
			padding-left: 3%;
		}
		
		.plus{
			@include plus;
			margin-top: 3%;
			margin-left: 4%;
			color: $gris_noir;
			
		}		

		.bouton3{
			margin-top: 3%;
			margin-bottom: 8%;
			height: 70px;
			border-radius: 20px;
			background-color: $gris_noir;
			p{
				font-family: 'Lato';
				padding-top: 5%;
				font-size: 20px;
				text-align: center; 
				color: white;
				font-weight: bold;
			}
		}
	}

	.temoignages{
		height: 580px; 
		background-color: $beige;
		padding-left: 3%;
		margin-top: 5%;

		h1{
			padding-top: 25px;
			font-size: 30px;
			color: $gris_noir;
			font-family: 'Anton';
		}
		
		.flecheD{
			background-image: url(../svg/fleche_droite.svg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 30px;
			width: 30px; 
			margin-left: 85%;
			margin-top: -8%;
			margin-bottom: 3%;
		}
		
		.imgTem{
			background-image: url(../img/tem.jpg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 250px; 
			width: 350px;
			margin-bottom: 3%;
		}

		h2{
			font-family: 'Lato';
			font-size: 25px; 
			font-weight: bold;
			color: $gris_noir;
			margin-bottom: 3%;
		}
		p{
			font-family: 'LatoBis';
			color: $gris_noir; 
			font-size: 18px;
		}
		
		.plus{
			@include plus;
			margin-top: 3%;
			margin-left: 2%;
			color: $gris_noir;
		}		
	}
}

@media screen and (min-width: 900px){
	.bloc_top{
		margin-top: -10%;
		height: 650px;
		.img{			
			height: 550px;	
		}
	}
	.bloc_centre{

		.logo_centre{
			height: 100px; 
			width: 100px;
			margin-left: 45%;
			padding-top: 0;
			
		}
		.titre_picto{
			h2{
				font-size: 35px;  
			}
			p{
				font-size: 25px;
			}
		}

		.picto{
			
			margin-left: 8%;
			display: flex;
			flex-direction: row;
			vertical-align: center;
			
			.partie1 {
				margin-left: 25%;
				
				.photovoltaique{
					margin-left: 25%;
				}
				
				
			}
			
			.partie2 {
				margin-top: 0;				
				margin-left: 8%;
				.cap{
					margin-left: 15%;
								
				}
			}
		}
		.blocTxt_1{
			flex-direction: row;
			height: 250px;
			.titre_bloc1{
				
				width: 150%; 
				background-image:url(../img/points.svg);
				h1{
					margin-left: 5%;
					margin-right: 4%;
					font-size: 35px;
					text-align: right;
				}
			}
			.txt_bloc1{
				background-color: white;
				width: 150%;
				p{
					font-size: 23px;
				}
			}
		}

		.bouton1{
			height: 70px;
			width: 30%;
			margin-left: 33%;
			margin-bottom: 0;
		}

		.blocTxt_2{
			flex-direction: row;
			height: 250px;
			.titre_bloc2{	
				width: 150%; 
				background-image:url(../img/points.svg);
				h1{
					margin-left: 5%;
					margin-right: 4%;
					font-size: 35px;
					text-align: right;
				}
			}
			.txt_bloc2{
				background-color: white;
				width: 150%;
				p{
					font-size: 23px;
				}
			}
		}

		.bouton2{
			height: 70px;
			width: 15%;
			margin-left: 40%;
			margin-bottom: 5%;
			p{
				font-size: 25px;
				padding-top: 10%;
			}
		}


		.actu{
			display: flex;
			flex-direction: row;
			height: 90%;
			.gauche{
				width: 180%;
				margin-left: 15%;

			}
			.droite{
				margin-top: 5%;
				margin-right: 2%;
				.plus{
					margin-top: 10%;
					margin-left: 90%;
				}
			}
		}
		

		.demarche{
			display: flex;
			flex-direction: row;
			height: 90%;
			.gauche{
				width: 180%;
				margin-left: 15%;

			}
			.droite{
				margin-top: 5%;
				margin-right: 2%;
				.plus{
					margin-top: 10%;
					margin-left: 90%;
				}
			}
		}

		.installations{
			height: 75%;
			.bipartie{
				display: flex;
				flex-direction: row;
				height: 80%;
				.gauche{
					width: 180%;
					margin-left: 15%;

				}
				.droite{
					margin-top: 2%;
					margin-right: 2%;

					.plus{
						margin-top: 10%;
						margin-left: 90%;
					}
				}
			}
					

			.bouton3{
				margin-top: 0;
				margin-bottom: 2%;
				height: 50px;
				width: 25%;
				margin-left: 33%;
				
				p{
					padding-top: 3%;
					font-size: 23px;
					
				}
			}
		}

		.temoignages{
			display: flex;
			flex-direction: row;
			height: 90%;
			.gauche{
				width: 180%;
				margin-left: 15%;

			}
			.droite{
				margin-top: 5%;
				margin-right: 2%;
				.plus{
					margin-top: 10%;
					margin-left: 90%;
				}
			}
		}
	}
}




